
body {
	background-color:black;
}

h2 {
	text-align:center;
}

h4 {
	text-align:center;
}

h5 {
	text-align:center;
	color:white;
}

/*----------------------------------------------------------------------------*/

ol {
	border-radius: 30px;
	padding: 0px;
	margin-left:15px;
}

ol li{
	border-radius: 30px;
	text-align:center;
	background:white;
}

ol li:hover {
	color:red;
	background:#eeeeee;
}

/*----------------------------------------------------------------------------*/

a:link {
	color:green;
}

a:visited {
	color:darkred;
}

a:hover {
	text-decoration: none;
}

a.emails:hover {
	color:yellow;
}

/*----------------------------------------------------------------------------*/

header {
	text-align:center;
	padding-bottom:10px;
	color:white;
}

nav {
	height:500px;
	line-height:30px;
	background-color:#bbbbbb;
	float:left;
	padding:5px;
}

section {
	height:500px;
	background-color:#eeeeee;
	float:left;
	padding:10px;
}

footer {
	text-align:center;
	color:white;
}

/*----------------------------------------------------------------------------*/

#selfie {
	border:3px dashed black;
	background-color:white;
	padding: 1px;
	/*float:right;*/
}









