

@font-face {
    font-family: comfortaa;
    src: url("fonts/Comfortaa-Regular.ttf");
}


body {
	font-family:comfortaa;
	height: auto;
	background: url("images/Weave BG.jpg");
}


::-webkit-scrollbar {
    width: 13px;
}
 
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 1);
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
	background: #363636;
    border-radius: 0px;
}

::-moz-selection { 
	background: rgba(255, 0, 0, 0.15);
}
::selection { 
	background: rgba(255, 0, 0, 0.15);
}

.centerText, .boxTitle, .footerText {
	text-align: center;
}

#greeter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#buttonGroup {
    list-style-type: none;
    margin-left: auto;
	margin-right: auto;
    padding: 0;
	width: 70%;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: red;
}

a:hover {
	text-decoration: none;
	color: blue;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #cecece;
    color: black;
	text-decoration: none;
}

.lipill {
    color:white;
    background-color: #363636;
	transition: background-color 0.25s, color 0.25s;
}

a.lipill {
    background-color: #363636;	
}


.link {
    color: #cecece;
}
.link:hover {
    color: grey;
	text-decoration: none;
}

/*adjust as necessary*/
.spacer {
	clear: both;
    margin-top: 2%;
}

.box {
    color: black;
	padding : 3px;
	margin: 1px;
	background-color: #363636;
	border-radius: 2px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	
	margin-left: auto;
	margin-right: auto;
	
	font-size: 140%;
	
	max-width: 80%;

}
.innerBox {
	margin: 0px;
	padding: 2px;
	background-color: white;
}

#aboutMe {
	float: left;
	margin-left: 10%;
}

#myEducation {
	float: right;
	margin-right: 10%;
}

#resume {
	width: 80%;
	clear: both;
	margin-top: 2%;
	margin-bottom: 3%;
}

#mainBody {
	min-height: 100%;
}

#socialLinks {
	position: fixed;
	top: 4%;
	right: 2%;
}

#footer {
	width: 100%;
			
	bottom: 0;
	
    position: relative;
	
	background-color: #363636;
	
	font-size: 160%;
	color: #ffffff;
	
	box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.4);
	
	overflow: hidden;
}




