
@font-face {
	font-family: expressway-rg;
	src: url(fonts/expressway-rg.ttf);
}

@font-face {
    font-family: biko;
    src: url(fonts/Biko_Regular.otf);
}

@font-face {
    font-family: comfortaa;
    src: url("fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: antipasto;
    src: url("fonts/Antipasto_regular.otf");
}

body {
	font-family:comfortaa;
	height: 900px;
	background: url("images/bg.jpg");
}

p {
	font-size: 150%;
}

ul {
    list-style-image: url('images/ul-marker.jpg');
}

.contax {
	font-size: 150%;
}

::-webkit-scrollbar {
    width: 13px;
}
 
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.9);
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
	background: url("images/scrolllbar.png");
}

::-moz-selection { 
	background: rgba(251, 166, 19, 0.4);
}
::selection { 
	background: rgba(251, 166, 19, 0.4);
}

#greeter {
	text-align: center;
	display: block;
    margin: 0 auto;
	margin-bottom: 5px;
}

.glyphicon-menu-hamburger {
	color: #fc7902;
}

.lipill {
    color:white;
    background-color: black;
}

li.active a.lipill {
    background-color: #fc7902;		
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    color: white;
    background-color: #fc7902;
}

.link {
    color: #fc7902;
}
.link:hover {
    color: grey;
	text-decoration: none;
}

#faqs p {
    font-size: 130%;
}

#line {
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#intro {
	text-align: center;
}

.boxTitle {
    text-align:center;
}

/*adjust as necessary*/
.spacer {
    margin-top: 20px;
}

.box {
    color: black;
	padding : 3px;
	margin: 1px;
	background-color: #fc7902;
	border-radius: 2px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}
.innerBox {
	margin: 0px;
	padding: 2px;
	background-color: white;
}

#mainBody {
	min-height: 100%;
}

#socialLinks {
	position: fixed;
	bottom: 170px;
	left: 0px;
}

#footer {
    clear: both;
    position: relative;
    bottom: 0;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
	
	margin-top: 10px;
	/*min-height: 15%;*/
	text-align: center;
	background-color: BLACK;
	
	font-size: 160%;
	color: #ffffff;
	
	box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.4);
}

#footerText {
    text-align: center;
}




