
@font-face {
	font-family: arcon-regular;
	src: url(fonts/Arcon-Rounded-Regular.otf);
}

body, footer, carousel {
	font-family:arcon-regular;
}

body, #body {
	min-height:620px;
}

body {
	background-image: url("seamless tileableBrick_14_UV_H_CM_1.jpg");
	margin:0px;
	padding:0px;
	height:100%;
}

#body {
	padding:0px;
	padding-bottom:25%;   /* Height of the footer */
}

#navTitle {
	padding-top:0px;
}

.logo {
	padding:0px;
	margin:0px;
	height: 50px;
	width:auto;
}
.logo:hover {
	border: 1px solid black;
}

#navStyle {
	background-color: #fec828;
	border-image: url("checkerborder.jpg") 17 repeat;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:15px;
}


#navStyle a {
	color: black;
}

#navStyle a:hover {
	color:white;
	background-color: initial;
}

.glyph {
	color:black;
}

.carousel-inner .item img, .carousel-inner .item a img {
	height: 400px;
    width: auto;
	min-width:330px;
    margin: auto;
}

.carousel-caption {
	margin:auto;
	font-size: 12pt;
	margin-bottom:250px;
}

.carousel-indicators .pillIt {
	border:2px ridge black;
	background-color:#fec828;
}

.pillIt {
	padding-bottom:1px;
	padding-right:20px;
}
.pillIt:active {
	background-color:white;
}
.carousel-indicators .active{
	background-color:white;
	padding:0px;
	border-color:black;
}

.captionC {
	border-radius:2px;
	background-color: #fec828;
	width:300px;
	color:black;
	text-shadow:0em 1px 1px #353535;
}

.spacer1 {
	height:120px;
}
.spacer2 {
	height:60px;
}

footer {
	text-align:center;
	color:white;
	background-color:black;
	padding-bottom:5px;
	border-image: url("checkerborder.jpg") 17 repeat;
	border-top-width:15px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   min-height:15%;   /* Height of the footer */
}

.footer a {
	font-size:120%;
	color: #fec828;
}
.footer a:hover {
	color:white;
}


#container {
   min-height:100%;
   position:relative;
}

.textbox {
	margin-top:70px;
	border:1px solid black;
	border-radius:6px;
	background-color:white;
	color:black;
}

.textbox a {
	font-size:140%;
	color: #656565;
}

.textbox a:hover {
	color: #fec828;
}

.textbox h1 {
	text-decoration:underline;
	font-size:240%;
	text-align:center;
}

.textbox img {
	width:140px;
	height:120px;
	float:left;
	padding-right:10px;
}

#oneDollarPromise {
	font-size:150%;
}

#contactInfo {
	list-style-type:circle;
}

#callerID {
	font-size:140%;
	color: #454545;
}

#drivers {
	font-size:150%;
	padding-bottom:40px;
	margin-bottom:70px;
}

#drivers li {
	list-style-type:none;
}

#ourLocations {
	font-size:150%;
	padding-bottom:40px;
	margin-bottom:70px;
}

#ourLocations li {
	list-style-type:none;
}







