

@font-face {
	font-family: arcon-regular;
	src: url(fonts/Arcon-Rounded-Regular.otf);
}

@font-face {
	font-family: hells-font;
	src: url(fonts/Railway-to-Hells.ttf);
}

body, footer {
	font-family: arcon-regular;
}

body, #body {
	min-height:620px;
}

body {
	background-image: url("woodBack.jpg");
	margin:0px;
	padding:0px;
	height:100%;
}

#body {
	padding:0px;
	padding-bottom:25%;   /* Height of the footer */
}

#navTitle {
	padding-top:0px;
}

.logo {
	font-family:hells-font;
	padding:0px;
	margin:0px;
	height: 50px;
	width:auto;
	color:black;
}
.logo:hover {
	color:white;
	text-shadow:0px 0px 6px black;
}

#navStyle {
	background-color: #aaaaaa;
	padding-top: 7px;
}

#navStyle a {
	color: black;
}

#navStyle a:hover {
	color:white;
	background-color: initial;
}

#myNavbar {
	float: right;
	font-size: 120%;
}

.spacer1 {
	height:120px;
}
.spacer2 {
	height:60px;
}

footer {
	text-align:center;
	color:white;
	background-color:black;
	padding-bottom:5px;
	border-image: url("checkerborder.jpg") 17 repeat;
	border-top-width:15px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   min-height:15%;   /* Height of the footer */
}

.footer a {
	font-size:120%;
	color: white;
}
.footer a:hover {
	color: sienna;
}


#container {
   min-height:100%;
   position:relative;
}

.textbox {
	margin-top:70px;
	border:1px solid black;
	border-radius:6px;
	background-color:white;
	color:black;
}

.textbox a {
	font-size:140%;
	color: #656565;
}

.textbox a:hover {
	color: sienna;
}

.textbox h1 {
	text-decoration:underline;
	font-size:240%;
	text-align:center;
}

.textbox img {
	width:140px;
	height:120px;
	float:left;
	padding-right:10px;
}

#summary {
	font-size:150%;
}

#contactInfo {
	list-style-type:circle;
}

#callerID {
	font-size:140%;
	color: #454545;
}

#drivers, #rideRequestForm {
	font-size:150%;
	padding-bottom:40px;
	margin-bottom:70px;
}

#drivers li {
	list-style-type:none;
}

#ourLocations {
	font-size:150%;
	padding-bottom:40px;
	margin-bottom:70px;
}

#ourLocations li {
	list-style-type:none;
}

#mapBox {
	height:600px;
	width:400px;
}

#startDDList, #endDDList {
	height:150px;
	overflow:auto;
}

#logBox {
	min-height:300px;
}

#titleTop {
	text-align:center;
}

#requestList li {
	padding-bottom:15px;
	font-size:150%;
}

#submitButton {
	margin-bottom:15px;
}











